/.git
/.next
/coverage
/packages/react-eva-icons-base/icons
/packages/react-eva-icons-base/scripts
/packages/react-eva-icons-base/src
!/packages/react-eva-icons-base/src/utils
/web
/scripts
/tmp
build
node_modules
